<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLOT MASHINE</title>
    <style>
        .text {
         text-align:  center;
        }
        .aligncenter {
            text-align: center;
        }
        
       </style>
</head>
<body>
    {% extends "random/base.html" %}
    {% block content %}
    <br>
    <hr>
    <p class="aligncenter">
        <img src="/static/images/slot.gif" alt="Рулетка" width="40%"/>
     </p>
    <hr>
    <br>
    {% endblock content %}
</body>
</html>

