{% load static %}
<style>
  .reclama {text-align:  center;}
  .ad {display: flex; justify-content: сenter;}
  body{ background-color: rgb(252, 237, 103);}
  .aligncenter {text-align: center;}
  .text {text-align:  center;}
 </style>
<header>
  <hr><br>
  <a href="/">Home</a> | <a href="/random/wheel">WHEEL</a> | <a href="/random/slot_mashine">SLOT_MASHINE</a>
</header>
<br>
<hr>
<div class="text">
    <p><h2>ВЫБЕРИ ИГРУ!!!</h2></p>
 </div>
<p class="aligncenter">
    <img src="/static/images/77rN.gif" alt="Рулетка" width="40%"/>
 </p>
<br>

{% block content %} {% endblock content %}
<footer>
    <hr><h2>© 2023 LomovVladislavProduction</h2>
  </footer>